@charset "utf-8";

/* ------------ colors ------------ */

$blue: #0279BF;
$blue01: #1872B2;
$blue-darker: #3F7AD9;
$blue-dark:#2779DB;
$blue-purple: #4284E4;

$gray: #45545B;
$gray01: #CAD0D4;
$gray02: #707070;
$gray03: #E1E6E7;
$gray04: #78838F;
$gray-light: #657A84;
$gray-lighter: #98A9B0;
$gray-subtler: #E4E9EA;
$gray-subtle: #D0D6DA;
$gray-subtlest: #F2F3F5;
$gray-dark: #2D383C;
$gray-darker: #121618;
